@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
.text h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
  font-family: "Asap", sans-serif;
  text-align: center;
}
.text{
  display: contents;
  align-items: center;
}
.text ul{
  font-family: cursive;
}
.text li{
  font-weight: 1;
  font-size: large;
}